{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.overview }}</p>
    {% if trailer %}
        <iframe width="560" height="315" src="{{ trailer.url }}" frameborder="0" allowfullscreen></iframe>
    {% else %}
        <p>No trailer available.</p>
    {% endif %}
{% endblock %}